body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#f2f4f5;
}

/* HEADER */
.header{
    background:#002f34;
    color:white;
    padding:15px;
    display:flex;
    align-items:center;
    gap:10px;
    flex-wrap:wrap;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

.search{
    flex:1;
    padding:10px;
    border:none;
    border-radius:5px;
}

.pawn-btn{
    background:#23e5db;
    border:none;
    padding:10px 15px;
    font-weight:bold;
    cursor:pointer;
    border-radius:5px;
}

/* CONTAINER */
.container{
    padding:20px;
}

/* CARDS */
.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:white;
    border-radius:8px;
    padding:10px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
    cursor:pointer;
}

.card img{
    width:100%;
    height:140px;
    object-fit:cover;
    border-radius:6px;
}

.price{
    color:green;
    font-weight:bold;
}

/* DETAILS */
.big-img{
    width:100%;
    max-width:350px;
    border-radius:10px;
}

/* CHAT */
.chat-box{
    background:white;
    height:250px;
    padding:10px;
    overflow:auto;
    border-radius:8px;
    margin-bottom:10px;
}

input, textarea{
    width:100%;
    padding:10px;
    margin:8px 0;
}
button{
    padding:10px;
    width:100%;
    background:#002f34;
    color:white;
    border:none;
    border-radius:5px;
}
